body{
    margin: 0;
    padding: 0;
    background-image: url("../images/bg1.jpg");
    background-attachment: fixed;
    background-repeat: none;
    font-family: 'EB Garamond', serif, 'Playfair Display', serif ;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: rgb(216, 180, 20);

}
a:link{color: rgb(115, 141, 54);}
a:active{color: green}
a:visited{color: rgb(255, 217, 0); }
a:hover{color: rgb(255, 217, 0);}

.text{
    text-indent: 20px;
    margin-top: -80px;
    width: 60%,

}

img{
    margin-top: 50px;
    float: left;
    border:1px solid;
    padding: 1px;
    border-color: rgb(216, 180, 20);
}

h1{
    font-size: 60px;
}
h3{
    font-size: 40px;
}
span{ 
    font-family: 'Tangerine', cursive;
    font-size: 60px;
}
.heading{
    font-family: 'Tangerine', cursive;
    font-size: 100px;
}